:root {
    --dark-blue: #15263D;
    --middle-blue: #36405B;
    --gray-light: #A9B8BE;
    --gray-ligth-2: #A3979A;
    --gray: #615C7E;
    --white: #ffff;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body,
html {
    scroll-behavior: smooth;
    background-color: var(--middle-blue);
    overflow-x: hidden;
    font-size: 11px;
}

.container{
    color: var(--white);
}

/* HEADER */

.container-header {
    background-color: var(--dark-blue);
    opacity: .8;
    min-width: max-content;
    padding: .5em 4em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.menu {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */

.logo {
    font-size: 2.3rem;
}

.fa-search {
    font-size: 1.7em;
    cursor: pointer;
}

#search {
    display: none;
}

/* MOVIE MAIN */

.container-main {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.movie {
    margin-top: .4em;
    position: relative;
    height: 100vh;
}

.container-main .movie .img-bg {
    height: 100%;
}


.card-movie {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    /* line-height: 1.2; */
    /* justify-content: space-between; */
    border-radius: 7px;
    width: 90%;
    margin: auto;
    height: 130px;
    font-size: 1rem;
    /* opacity: .8; */
}

/* IMG CARD */

.img-card{
    width: 35%;
}

.img-card img {
    object-fit: fil;
    cursor: pointer;
    height: 100%;
}

/* INFO CARD */

/* SECTION */

.section-info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: .97;
    background-color: var(--dark-blue);
    color: var(--gray-light);
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1.2pt;
}


.head-card {
    display: block;
    padding: 1em 0;
    text-align: center;
}

.body-card {
    display: flex;
    justify-content: space-around;
    padding: 0 .8em;
    width: 100%;
}

.language {
    text-transform: capitalize;
}


/* RATE MOVIE */

.rate-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;
    text-align: center;
    padding: 0 .3em;
}


/* EFECTS */


/* .itemOpen{
    transform: ;

} */

/* MEDIA QUERIES */

@media (min-width:425px) {

    body,html{
        background-color: var(--dark-blue);
    }

    /* HEADER */

    .container-header {
        padding: .5em 4em;
        position: initial;
        z-index: 0;
        width: 80%;
        margin: auto;
    }





    .fa-search {
        font-size: 1.7em;
        cursor: pointer;
        display: none;
    }

    #search {
        display: block;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid var(--gray-light);
    }

    /* MOVIE MAIN */

    .container-main {
        position: relative;
        width: 100%;
        height: max-content;
        max-width: 60em;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px 10px;
        color: var(--white);
    }

    .movie {
        position: initial;
    }

    .movie:hover {
        background-color: var(--gray-light);
    }

    .container-main .movie .img-bg {

        height: initial;
    }


    .card-movie {
      display: none;
    }

    
    /* IMG CARD */

    .card-movie div {
        height: inherit;
    }


}

@media (min-width:1024px) {
    /* MOVIE MAIN */

    .container-main {
        width: 95%;
        height: max-content;
        max-width: initial;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 60px 20px;
        color: var(--white);
    }

    .movie {
        cursor: pointer;
    }

    

    .container-main .movie .img-bg {

        height: initial;
    }
}