:root {
    --txt-w: #efefef;
    --txt-d: #000000;
    --primary: #1c1c1c;

}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body,
html {
    scroll-behavior: smooth;
    background-color: var(--primary);
    font-size: 11px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container {
    min-width: 320px;
    color: var(--txt-w);
    position: relative;
}

.container .div {
    height: 400px;
    width: 300px;
}


/* MENU BURGUER */


.container .burguer-btn {

    position: fixed;
    bottom: 25px;
    right: 40px;
    z-index: 3000;
    border-radius: 50%;
    background-color: var(--txt-w);
    color: var(--primary);
    padding: .66em;
    font-size: 1.5rem;
    cursor: pointer;
}



.container .btn-categories {
    position: fixed;
    top: 40px;
    right: 0;
    /* bottom: 0; */
    height: 86vh;
    overflow-y: scroll;
    z-index: 2000;
    background-color: var(--primary);
    opacity: .98;
    text-align: center;
    transition: 1.3s ease-in-out
}

.openMenu {
    transform: translateX(130px);
}


.container .btn-categories a {
    display: block;
    padding: 1em 0;
    font-weight: 600;
    font-size: 1.3rem;
    border-bottom: 1px solid var(--txt-w);
    cursor: pointer;
    text-align: justify;
    width: 100%;
    margin-left: .4em;

}

.container .btn-categories a:hover {
    background-color: var(--txt-w);
    color: var(--txt-d)
}


/* HEADER */

.container-header {
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.container-header .menu {
    background-color: var(--primary);
    display: flex;
    width: 90%;
    height: 42px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    align-items: center;

}

/* LOGO */

.container-header .menu .logo {
    font-size: 1.2rem;
    padding-left: .6em;
}

/* SEARCH */

.container-header .menu .search {
    border-radius: 10px;
    background-color: transparent;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: .6em;
}

.container-header .menu .search #search {
    border: none;
    outline: none;
    background-color: inherit;
    border-bottom: 1px solid var(--txt-w);
    color: var(--txt-w);
    height: 24px;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: bold;
    width: 0%;
    transition: 2s ease-in-out;
}

.container-header .menu .search .fa-search {
    cursor: pointer;
    margin-left: .6em;
    font-size: 1.67em;
}

.container-header .menu .search #search:focus {
    background-color: transparent;
}

.container-header .menu .search #search::placeholder {
    color: var(--txt-w);
}


/* MOVIE MAIN */

.container-main {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
}

.container-main .movie {
    position: relative;
    height: 100%;
}


/* CARD MOVIE */
.movie .card-movie {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    display: flex;
    /* line-height: 1.2; */
    justify-content: space-between;
    border-radius: 4px;
    height: 125px;
    max-width: max-content;
    margin: auto;
    opacity: .9;
    background-color: var(--primary);
    color: var(--txt-w);
}

/* IMG CARD */
.img-bg {
    transition: 1.7s ease-in-out;
}

.img-card {
    padding-right: 1.3%;
    width: 35%;
}

.img-card img {
    height: 100%;
    object-fit: fill;
    cursor: pointer;
}

/* INFO CARD */

/* SECTION */

.section-info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1.2pt;
}


.head-card {
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
}

.body-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: .6em;
}

.overview {
    /* background-color: var(--primary); */
    color: white;
    position: absolute;
    /* text-align: justify; */
    overflow-y: hidden;
    height: 295px;
    line-height: 1.33;
    width: 80%;
    opacity: 0;
    z-index: -1;
    top: 0px;
    left: 30px;
    right: 0;
    transition: 1.6s ease-in-out;
    transform: translateY(0px);
}

.activeOverview {
    opacity: 1;
    transform: translateY(-340px);
}

.activeOverOnImg {
    opacity: .1;
}


.language {
    text-transform: capitalize;
}


/* RATE MOVIE */

.rate-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;
    text-align: center;
    padding: 0 .3em;
}

/* BTN TRAILER */

.trailer {
    padding: .7em;
    background-color: var(--txt-d);
    color: var(--txt-w);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .5pt;
    cursor: pointer;
}







/* MEDIA QUERIES */

@media (min-width:425px) {

    body,
    html {
        background-color: var(--primary);
    }



    /* MOVIE MAIN */

    .container-main {
        position: relative;
        width: 100%;
        height: max-content;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;
        color: var(--white);
    }


    .img-card {
        display: none;
    }


    /* INFO CARD */

    /* SECTION */

    .section-info-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-weight: bold;
        font-size: 1rem;
        width: 100%;
    }



    .head-card h3 {
        font-size: 1.3rem;
    }


    .body-card .info-movie {
        width: 70%;
        margin: auto;
        font-size: 1rem;
        padding: 0 0 0 1.3em;
    }

    .overview{
        top: 40px;
    }

    .activeOverview {
        opacity: 1;
        transform: translateY(-230px);
    }

}

@media (min-width:768px) {

    .container {
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }

    /* header */
    .container-header {
        position: relative;
    }

    .container-header .menu {
        margin-top: .3em;
    }

    .container-header .menu .logo {
        border-radius: 3px;
        padding: .3em;
    }

    .container-header .logo h1 {
        font-size: 3.3rem;
    }

    /* MENU BURGUER */


    .container .burguer-btn {
        display: none;
    }



    .container .btn-categories {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        /* left: 0; */
        /* bottom: 0; */

        overflow-x: scroll;
        overflow-y: hidden;
        transition: none;
    }


    .openMenu {
        transform: translateY(0px);
    }

    .container .btn-categories a {
        text-align: center;
        display: initial;
        padding: .6em 1em;
        margin: 0 .4em;
        font-size: 1.9rem;
        cursor: pointer;
        width: max-content;

    }

    /* IMG CARD */

    .img-card {
        display: block;
    }



    /* MOVIE MAIN */

    .main {
        width: 100%;
    }

    .btn-categories::-webkit-scrollbar {
        background-color: inherit;
        height: 10px;
        width: 1.2em;
    }

    .btn-categories::-webkit-scrollbar-thumb {
        background-color: var(--txt-w);
        border-radius: 7px;
    }

    .container-main::-webkit-scrollbar {
        background-color: inherit;
        height: 10px;
    }

    .container-main::-webkit-scrollbar-thumb {
        background-color: var(--txt-w);
        border-radius: 7px;
    }



    .container-main {
        overflow-x: scroll;
        overflow-y: hidden;
        max-width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        gap: 0 30px;
    }



    .movie {
        cursor: pointer;
        padding: .2em;
        background-color: var(--txt-d);
    }


    .container-main .movie .img-bg {
        height: 450px;
        width: 300px;
    }

    .container-main {
        padding: 0 .8em
    }

    .movie .card-movie {
        width: 100%;
    }

    .overview {
        font-size: 1.18rem;
        font-weight: 100;
        line-height: 1.33;
        top: -80px;
    }

    
}